
h1 {
  background-color: #D2B48C;
  color: #000000;
}

footer {
  background-color: #D2B48C;
  color: #2E0000;
  font-style: italic;
  text-align: center;
  font-size: 60%
}


h1{
  background-image: url("../images/javalogo.jpg");
text-align: center

}

body {


   font-family: Arial, Verdana, sans-serif;
background-image: url("../images/javabackground.gif")

}

#container {

  margin-left: auto;
   margin-right: auto;
   width: 950px;
   padding-top: 0px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   background-color: white;
   box-shadow: 5px 5px 5px #1e1e1e;
   background-color: #F5F5DC
}

ul {
  list-style-image: url("../images/marker.gif")
}

p{
  line-height: 60%
}
